* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-image: url(imagem/fundo.jpg);
}
body, input, textarea {
    font-family: "Anton", sans-serif;
}
section,
form button {
    font-family: "Bona Nova SC", sans-serif;
    font-weight: bolder;
}
header {
    background-color: #131010;
    color:#f0ffff;
    padding: 20px 0px;
}
header img {
    height: 120px;
}
header h1 {
    font-size: 80px;
}
header nav li {
    display: inline;
    margin-left: 20px;
    font-size: 20px;
} 
header nav li a:hover {
    color: #ad981f;
}
header nav li a,
#contact,
#elenco h2{
    color: #f0ffff;
    text-decoration: none;
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
header .container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 120px;
}
section#historia .container {
    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDc4eXE2Y3hhNWl0ZTg2cmVycjhxeXZlOGx6bDcwZDN5NGk0eW92OCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vpFFYbjkpiY5ZZXgpb/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:100%;}
section#historia .container div {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    background-color: rgba(249, 255, 228, 0.281);
    padding: 30px 80px;
}
.container  h2 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    
}
.container > div > p {
    text-indent: 30px;
    line-height: 20px;
    padding-bottom: 15px;
    text-align: justify;
    
}
section#elenco {
    margin:30px 0px;
}
section#elenco li{
    display: inline-block;
    align-items:center;
    text-align: center;
}
section#elenco li a>p {
    color: #ad981f;
}
section#elenco li img:hover{
    border: 1px solid #ad981f6e;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px #ad981f;
    transition: transform .5s, border .3s;
}

section#elenco img {
    height: 250px;
    width: 195px;
    margin:10px 5px;
}
.social-links img {
    height: 24px;
}
.social-links li {
    display: inline;
    margin-right: 20px;
}
.social-links li a, 
section#elenco li a{
    text-decoration: none;
}
#contact .container  {
    display: block;
    margin-bottom: 30px;
}
.contact-methods {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea {
    resize: none;
    height: 180px;
}
section h3 {
    margin-bottom: 16px;
}
form button{
    background-color: #ad981f;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #f1f51c;
    color: rgb(70, 70, 85);
    font-weight: bolder;
}
footer {
    background-color: #131010;
    color: #ecf0f1;
    padding: 16px 0;   
    text-align: center;
}